body {
    //background-color: #303030;
    //background-color: burlywood;
    background-image: url(Desert.jpg);
}

.header {
    height: 70px;
    width: 1000px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.chat-room {
    float: left;
    padding: 20px 60px;
    color: yellowgreen;//#ED7000;
    font-size: 35px;
}

.chat-title {
    padding: 25px 65px;
    float: right;
    //color: black;
    color: wheat;
    font-size: 25px;
}

.main {
    width: 1000px;
}

.chat {
    width: 650px;
    float: left;
    padding: 30px 30px 30px 45px;
    //background-color: white;
    margin-right: 0px;
    color: black;
}

.get-message th {
    width: 100px;
    border: 1px solid gray;
    background-color: white
}

.message{
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.error {
    margin-bottom: 50px;
}

.error-message {
    color: red;
}

.error tr {
    color: red;
}

.sidebar {
    height: 600px;
    width: 200px;
    float: right;
    padding: 30px;
    //background-color: #D0D0D0;
    background-color: #505050;
    border: 2px solid black;
    color: white;
}

.chat-list {
    padding-left: 5px;
}

.chat-list li {
    font-size: 20px;
    margin-bottom: 5px;
}
