html,body {
    width: 100%;
    margin: 0px;
    word-wrap: break-word;
}

li {
    list-style: none;
}
/* -------------------------------------- */
/* background-color style start
/* -------------------------------------- */
body {
    background-color: #0076be;
}

.main {
    background-color: #fcfcfc;
}

.Bcolor-white {
    background-color: #f9f9f9;
    border-top: 10px solid #052e68;
    border-bottom: 10px solid #052e68;
    border-left: 10px solid #0076be;
    border-right: 10px solid #0076be;
}
 /* -------------------------------------- */
/* background-color style end
/* -------------------------------------- */

/* -------------------------------------- */
/* font style start
/* -------------------------------------- */
.message {
    font-weight: bold;
}

.blue {
    color: #0000CD;
}

.border-circle {
    //border-radius: 14px;
}

.attention {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.header {
    //font-family: cursive;
}

.header-main {
    color: #fcfcfc;
    font-size: 40px;
    font-weight: bolder;
}

.header-sub {
    color: #fcfcfc;
    font-size: 30px;
    font-weight: bold;
}

.error {
    margin-bottom: 30px;
    color: red;
}

.chat-list li {
    font-size: 15px;
    padding: 5px;
    border-bottom: 1px dotted black;
}
/* -------------------------------------- */
/* font style end
/* -------------------------------------- */

.header {
    height: 70px;
    width: 98%;//left + width = 100% になるようにする
    margin: 0px auto;
}

.header-main {
    float: left;
    padding: 25px 10px 0px 5%;
}

.header-sub {
    float: right;
    padding: 35px 10% 0px 10px;
}

.main {
    min-height: 800px;
    max-width: 1000px;
    width: 96%;
    margin: 20px auto 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chat {
    width: 60%;
    float: right;
    padding: 30px 5%;
    margin-right: 2%;
}

.message{
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar {
    width: 15%;
    float: left;
    padding: 2%;
    margin-left: 2%;
}

.chat-list {
    padding-left: 5px;
}

table {
    text-align: left;
}

.clear {
    clear: both;
}

@media (max-width: 600px) {
    .header-main {
        font-size: 35px;
        padding: 35px 15px 10px 5%;
    }
    .header-sub {
        font-size: 25px;
        padding: 40px 10% 10px 10px;
    }
    .sidebar {
        display: none;
    }
    .chat {
        width: 80%;
        float: inherit;
        margin-right: auto;
        margin-left: auto;
    }
}
